* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-home {
  background-color: #F7F7F7;
  height: 100vh;
}
div.main-home a {
  text-decoration: none;
}
.home-header {
  background-color: #69e5af;
  display: flex;
  padding: 30px 20px 12px 20px;
  color: white;
}

.home-header img {
  width: 30px;
}
.home-header img:hover {
  cursor: pointer;
}
.home-header h3 {
  margin: 0 auto;
}

.info-recarga {
  margin: 5px 0;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-recarga div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info-recarga img {
  width: 75px;
}
.info-recarga .recarga {
  padding: 20px;
  height: 100px;
  border-radius: 50%;
  line-height: 1.6;
}
.info-recarga .recarga h2 {
  font-size: 40px;
}
.info-recarga .recarga:hover {
  cursor: pointer;
  transform: scale(1.01);
}
hr {
  width: 90%;
  margin: 5px auto;
  color: black;
}
footer {
  background-color: whitesmoke;
  width: 100%;
}
footer .select {
  padding: 10px;
  text-align: center;
}
footer .select label {
  margin-left: 10px;
}
footer .select select {
  text-align: center;
  margin-left: 10px;
  height: 25px;
  border-radius: 5px;
  border: none;
}
footer .btn-recarga {
  width: 100%;
  height: 93px;
  background-color: whitesmoke;
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding-top: 25px;
}
footer .btn-recarga h3 {
  width: 90%;
  margin: 0px auto;
  padding: 7px;
  background-color: #69e5af;
}
footer .btn-recarga:hover {
  cursor: pointer;
}
